.banner-section{
    background-color: azure;
    min-height: 60vh;
}
.text-color{
    color: var(--main-color);
}

.policy-section{
    margin: 100px;
}

.policy-icon{
    transition: all 0.5s ease-in-out 0.3s;
}

.policy-icon:hover{
    -o-transform:rotateY(360deg);
   -ms-transform:rotateY(360deg);
   -moz-transform:rotateY(360deg);
   -webkit-transform:rotateY(360deg);
   transform: rotateY(360deg);
}

.inventory-btn{
    padding: 10px 28px;
    border-radius: 16px;
    border: 1px solid transparent;
    color: #FFFFFF;
    background-color: #1DC9A0;
    font-size: 20px;
    letter-spacing: 1px;
    transition: all 0.15s linear;
}

.inventory-btn:hover{
    background-color: rgba(29, 201, 160, 0.08);
    border-color: #1DC9A0;
    color: #1DC9A0;
    transform: translateY(-5px) scale(1.05);
}

.inventory-btn:active{
    background-color: transparent;
    border-color: #1DC9A0;
    color: #1DC9A0;
    transform: translateY(5px) scale(0.95);
}

/* Mobile Responsive */
@media (max-width: 576px) {
    .main-container, .policy-container{
        display: flex;
        flex-direction: column;
    }
    .policy-section{
        margin: 25px 0;
    }
}