.banner-section{
    background-color: azure;
    min-height: 60vh;
}
.text-color{
    color: var(--main-color);
}

.policy-section{
    margin: 100px;
}

.policy-icon{
    transition: all 0.5s ease-in-out 0.3s;
}

.policy-icon:hover{
    -o-transform:rotateY(360deg);
   -ms-transform:rotateY(360deg);
   -moz-transform:rotateY(360deg);
   -webkit-transform:rotateY(360deg);
   transform: rotateY(360deg);
}

/* Mobile Responsive */
@media (max-width: 576px) {
    .main-container, .policy-container{
        display: flex;
        flex-direction: column;
    }
    .policy-section{
        margin: 25px 0;
    }
}